meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(name="description", content)
meta(name="author", content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
meta(name="generator", content="Hugo 0.108.0")
title Prefactura
link(href="css/bootstrap.min.css", rel="stylesheet")
link(href="css/styls1.css", rel="stylesheet")

body.body-fondo

h1.encabezado-principal Página de PREFACTURA 
div.home#home
  a.btn.btn-primary.btn-lg.btn-home(type="button" href  ="http://localhost:4000/pagmain") Menú principal

script(src="js/bootstrap.bundle.min.js")